
sphinx_rtd_theme
point
pytest
requests~=2.32.3

boto3~=1.35.22

cachetools~=5.5.0
setuptools~=75.1.0
pytz~=2024.2
confuse~=2.0.1
jinja2

sphinxcontrib-napoleon

sphinx-jinja2-compat>=0.1.1
sphinx-toolbox>=2.16.0
enum-tools[sphinx]
