
sphinx_rtd_theme
point
pytest
requests~=2.32.3

boto3~=1.38.32

cachetools~=5.5.2
setuptools~=77.0.3
pytz~=2025.1
confuse~=2.0.1
jinja2

sphinxcontrib-napoleon

sphinx-jinja2-compat>=0.1.1
sphinx-toolbox>=2.16.0
enum-tools[sphinx]
